# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

.github                             @fullstackninja864 @pierregee @chloezxyy @nattadex
packages                            @fullstackninja864 @pierregee @chloezxyy @nattadex
package.json                        @fullstackninja864 @pierregee @chloezxyy @nattadex
turbo.json                          @fullstackninja864 @pierregee @chloezxyy @nattadex
README.md                           @fullstackninja864 @pierregee @chloezxyy @nattadex
